{% extends "base.html" %}
{% block title %}admin{% endblock %}
{% block navone %}
<a href="/newpi" class="navbar__button button is-small">Register a new monitor</a>
<a href="/logout" class="navbar__button button is-small">Logout</a>
{%endblock%}
{% block navtwo %}
<a href="/newpi" class="navbar__button button is-small">Register a new monitor</a>
<a href="/logout" class="navbar__button button is-small">Logout</a>
{%endblock%}
{% block content %}
				
		<h2 class="page-title">All monitors</h2>
		<table class="pis">
			<tr id="table-head"><th>Monitor</th><th>Owner</th><th>Temperature</th><th>Humidity</th><th>Carbon Dioxide</th><th>Light</th><th>Timestamp</th></tr>
			{% for x in pis %}
				<div id="pi-{{x[1]}}">
					<tr class="pi">
						<td><a href="/monitors/{{x[1]}}">{{ x[0] }}</a></td>
						<td>{{ x[2] }}
						<td>{{ data[x[1]][0][0] }}{% if data[x[1]][0][0] is number %}°C{% endif %}</td>
						<td>{{ data[x[1]][0][1] }}{% if data[x[1]][0][1] is number %}%{% endif %}</td>
						<td>Not connected</td>
						<td>Not connected</td>
						<td>{{ data[x[1]][0][2] }}</td>
					</tr>
				</div>
			{% endfor %}
{%endblock%}