{% extends "base.html" %}

{% block content %}
		<h1>Your Monitors</h1>
		<table class="pis">
			<tr id="table-head"><th>Monitor</th><th>Temperature</th><th>Humidity</th><th>Carbon Dioxide</th><th>Light</th><th>Timestamp</th></tr>
			{% for x in pis %}
				<div id="pi-{{x[1]}}">
					<tr class="pi">
						<td><a href="/monitors/{{x[1]}}">{{ x[0] }}</a></td>
						<td>{{ data[x[1]][0][0] }}{% if data[x[1]][0][0] is number %}°C{% endif %}</td>
						<td>{{ data[x[1]][0][1] }}{% if data[x[1]][0][1] is number %}%{% endif %}</td>
						<td>Not connected</td>
						<td>Not connected</td>
						<td>{{ data[x[1]][0][2] }}</td>
					</tr>
				</div>
			{% endfor %}
{% endblock %}